@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
*{
  font-family: "Jersey 15", serif;
}
body {
    
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    color:#fff;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: #1c1c1c66;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
  }

  button {
    padding: 5px 10px;
    background-color: #43368466;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #322862;
  }
  
  .task-form {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .task-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .task-label{
    text-decoration: none;
    color: #fff;
  }
  .task-label:hover{
    text-decoration: underline;
  }
  .task-form button {
    padding: 5px 10px;
    background-color: #43368466;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-form button:hover {
    background-color: #322862;
  }
  
  #task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: #1c1c1c;
    border: 1px solid #333;
    border-radius: 4px;
  }

  .copyright{
    text-align: center;
    margin-top: 20px;
  }
  .copyright a{
    color: #ffffff;
    text-decoration: none;
  }


  @media screen and (max-width: 500px) {
    .container {
      padding: 10px;
    }
    h1 {
      font-size: 30px;
    }
    .task-form {
      flex-direction: column;
    }
    .task-form input {
      width: 100%;
      box-sizing: border-box;
    }
    button{
      padding: 10px !important;
    }
    .track-button , .delete-button{
      padding: 5px 10px !important;
    }
  }
  