/* styles/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
    color:#fff;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: #1c1c1c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
  }

  button {
    padding: 5px 10px;
    background-color: #433684;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .task-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .task-form button {
    padding: 5px 10px;
    background-color: #433684;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-form button:hover {
    background-color: #322862;
  }
  
  #task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: #1c1c1c;
    border: 1px solid #333;
    border-radius: 4px;
  }
  